/*
Inportacion letra google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Estilos predeterminados (modo claro) */

:root{
    --primaryColor:orangered;
    --black:black;
    --white:white;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

/* 
Estilos enlaces modo claro */
.networks a{
    color: #333;
}


/* Estilos para el modo oscuro */
.body-dark-mode {
    background-color: #333;
    color: #fff;
}


/* Otros elementos que podrían necesitar ajustes en modo oscuro */
.navbar__body a {
    color: var(--black); /* Color azul por defecto */
    font-weight: 400;
    font-size: 1.8rem;
}

.navbar__body a:hover{
    color: var(--primaryColor);
}

/* Estilos para los enlaces en modo oscuro */
.body-dark-mode a {
    color: #6c757d; /* Color gris para modo oscuro */
    font-weight: 400;
    font-size: 1.8rem;
}


/* adactar tamaño imagenes  */
.carousel-item img {
    max-height: 50rem;
    /* Limita la altura máxima de las imágenes */
    width: auto;
    /* Mantiene la proporción de aspecto */
    display: block;
    /* Elimina cualquier espacio extra debajo de la imagen */
    margin-left: auto;
    /* Centra la imagen horizontalmente */
    margin-right: auto;
    object-fit: cover;
    /* Mantiene la proporción de aspecto y cubre el contenedor */
    width: 100%;
    height: 100%;
}

/* Estilos para el modo oscuro */



/* Personalización del color orangered para los acordeones */
.accordion-item {
    background-color: var(--primaryColor);
    border: .1rem solid var(--primaryColor);
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.accordion-button {
    color: var(--white); /* Color del texto */
    background-color: var(--primaryColor); /* Color del botón */
}

.accordion-button:focus,
.accordion-button:focus:not(.collapsed) {
    background-color: var(--primaryColor); /* Cambio de color al hacer clic y enfocar */
}

.accordion-button:focus,
.accordion-button:not(.collapsed):hover {
    box-shadow: none; /* Elimina el efecto de enfoque y sombra al hacer hover */
}

.accordion-button:active {
    color: var(--black); /* Cambio de color del texto al hacer clic */
}

.accordion-body {
    background-color: var(--white); /* Color del cuerpo del acordeón */
    color: var(--black); /* Color del texto del cuerpo */
    border: .1rem solid var(--primaryColor);
    border-top: none;
    border-radius: 0 0 .5rem .5rem;
}

/* Estilos opcionales para hacer que el cursor parpadee */
.blinking-cursor {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Aqui afecto al header */

.header_body{
    height: 100%;
    padding: 2rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.header__brand{
    padding-left: 2rem;
}

.header__brand h1 span{
    color: var(--primaryColor);
}

.navbar__content{
    display: flex;
    text-align: center;
}

.navbar__body ul{
    margin: 0;
    padding: 0;
}

.navbar__body ul li {
    display: inline-block;
}

.navbar__body ul li a{
    text-decoration: none;
    list-style: none;
    padding: 0 2rem;
}

a#icon-luna{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: orange;
    font-size: 2rem;
    text-transform: capitalize;
}

/* Aqui edito la opacidad de las imagenes del carrucel */


.carrucel{
    margin-bottom: 10rem;
}
.carousel-item {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
}

.carousel-caption {
    color: var(--white); /* Color del texto */
    position: absolute;
    bottom: 2rem; /* Ajusta la posición vertical del texto según sea necesario */
    left: 2rem; /* Ajusta la posición horizontal del texto según sea necesario */
}

p.p-carrucel, h5.title-carrucel{
    color: var(--white);
    font-size: 1.4rem;
}


/* Estilos seccion presentacion  */

.presentation{
    margin-bottom: 10rem;
}

.presentation__content{
    text-align: center;
}

h2.title__presentation{
    margin-bottom: 4rem;
}

.presentation__content p{
    font-size: 1.7rem;
}

.title__presentation  span{
    color: var(--primaryColor);
}

/* Estilos iconos lenguage  */


.lenguage{
    margin-bottom: 10rem;
}

.programming-lenguage__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    column-gap: 2rem;
    row-gap: 10rem;
}


.programming-lenguage__group a{
    text-decoration: none;
    font-size: 10rem;
    color: rgba(255, 68, 0, 0.658);
}

.programming-lenguage__group a:hover{
    color: var(--primaryColor);
}

/* Estilos seccion Skill */

.skill{
    margin-bottom: 10rem;
}

.skill_content{
    display: flex;
    height: 40rem;
    align-items: center;
}

.hardskill{
    text-align: center;
    width: 50%;
    margin: 0 2rem;

}
.softskill{
    text-align: center;
    width: 50%;
    margin: 0 2rem;
}
/* 
Estilos sesion envios correo */

.mailings{
    margin-bottom: 10rem;
    background-color: #3e3f3f;
    box-shadow: .1rem .1rem .1rem black;
  
}
.mailings__form{
    width: min(70rem, 100%);

}

.mailings__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 4rem;

}

.mailings__text-content{
    display: flex;
    border: .4rem solid var(--primaryColor);
}

.mailings__text{
    align-self: center;
    padding: 2rem;
}



.mailings__form{
    border-bottom: .4rem solid var(--primaryColor);
    padding: 2rem;
    border-radius: 0 0 .8rem 0;
    text-align: center;
}

.mailings__form input ,textarea{
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: .4rem solid var(--white);
    background-color: transparent;
    color: white;
}

.mailings__form button{
    background-color: var(--primaryColor);
    border-radius: 1rem;
    padding: 1rem 4rem;
    margin-top: 2rem;

}

.footer__blog{
    height: 7rem;
}

.footer__content{
    display: flex;
    height: 20rem;
    background-color: var(--primaryColor);
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    color: var(--white);

}

.footer__brand{
    font-size: 2.6rem;
}

.footer__brand span{
    color: var(--black);
}

/* Estilos redes sociales */
.networks{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 45%;
    bottom: 45%;
}

.networks a{
    font-size: 2rem;
    text-decoration: none;
    margin: .5rem 0 .5rem .5rem;
    text-align: center;
}

.networks a:hover{
    display: inline-block;
    color: var(--primaryColor);
}


/* Estilos renponsivos  */

@media (max-width:768px) {
    .header__content{
        display: flex;
        flex-direction: column;
    }

    .navbar__body ul li{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .programming-lenguage__content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .mailings__content{
        display: flex;
        flex-direction: column;
    }
}
